html, body {
	font-family: 'Roboto', sans-serif;
}

#commandsZone {
	display: grid;
	gap: 1em;
}

.command {
	display: grid;
	border: 1px solid black;
	border-radius: 1rem;
	padding: 0.5rem;
	height: 1.5rem;
	overflow: hidden;
	cursor: pointer;
	grid-template:
		"header" 	 	auto
		"description"	auto
		"usage"			auto
		"permissions"	auto
		"costs"			auto
		"GRL"			auto
		"URL"			auto /
		auto;
}

.command.selected {
	height: unset;
}

@media screen and (min-width: 500px){
	.command {
		grid-template:
		"header			header		header 		header 		header" 	 auto
		"description	description	description	description	description" auto
		"usage			permissions costs 		GRL 		URL"		 auto /
		auto			auto	 	auto   		auto 		auto;
	}
}

.command .commandHeader			{ grid-area: header; }
.command .descriptionHolder 	{ grid-area: description; }
.command .usageHolder			{ grid-area: usage}
.command .permissions 			{ grid-area: permissions; }
.command .costs 				{ grid-area: costs; }
.command .globalRateLimitHolder	{ grid-area: GRL; }
.command .userRateLimitHolder	{ grid-area: URL; }

.command > div {
	display: grid;
	grid-auto-flow: rows;
	justify-content: start;
	gap: 0.1rem;
	font-weight: bold;
}

.command .descriptionHolder {
	grid-auto-flow: column;
	gap: 0.5rem;
}

.command > div > * {
    font-weight: initial;
}

.titleHolder {
	font-size: 1.5em;
}

.commands {
	margin-left: 1rem;
	display: grid;
	gap: 0.5rem;
}

.commandSection > .titleHolder {
	position: relative;
}
.commandSection > .titleHolder::before {
	content: ">";
	position: absolute;
	top: 50%;
	left: -100%;
	transform: translate(-50%);
}

#commandsZone {
	margin-left: 1rem;
}